@model CreateHarvestFormModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["CreateHarvest"];
}

<form asp-action="CreateHarvest">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">@ViewBag.Title</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="HarvestDate" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HarvestDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="HarvestDate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="HarvestedAmount" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HarvestedAmount" type="number" value="" class="form-control" />
                <span asp-validation-for="HarvestedAmount" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="HarvestedProduct" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HarvestedProduct" class="form-control" />
                <span asp-validation-for="HarvestedProduct" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="HiveId" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="HiveId" class="form-control">
                    @foreach (var hive in Model.Hives)
                    {
                        if (hive.Color is null)
                        {
                            <option value="@hive.Id">@hive.Number</option>
                        }
                        else
                        {
                            <option value="@hive.Id">@hive.Number - @hive.Color</option>
                        }
                    }
                </select>
            </div>
            <div class="col-5 offset-2">
                <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
            </div>
            <div class="col-5">
                <partial name="~/Views/Shared/ButtonsPartials/_CreateButtonPartial.cshtml" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}