@model ListAllViewModel<HarvestListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["HarvestsList"];
}

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="CreateHarvest" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i> @Localizer["CreateNewHarvest"]</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["HarvestDate"]
                </th>
                <th>
                    @Localizer["HarvestedAmount"]
                </th>
                <th>
                    @Localizer["HarvestedProduct"]
                </th>
                <th>
                    @Localizer["HiveNumber"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var harvest in Model.Items)
            {
                <tr>
                    <td>
                        @harvest.HarvestDate
                    </td>
                    <td>
                        @harvest.HarvestedAmount
                    </td>
                    <td>
                        @harvest.HarvestedProduct
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="HiveHarvests" asp-route-hiveId="@harvest.HiveId">№@harvest.HiveNumber</a>
                    </td>
                    <td style="text-align:right">
                        <a asp-action="UpdateHarvest" class="btn btn-success" asp-route-harvestId="@harvest.Id"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="DeleteHarvest" class="btn btn-danger" asp-route-harvestId="@harvest.Id"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@this.Model" />