@model HiveDetailsServiceModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Hive"];

    var hiveColor = Model.Color is null ? "N/A" : Model.Color;
    var hiveId = Model.Id;
    var hiveBeeQueen = Model.BeeQueens.FirstOrDefault(x => x.IsAlive);
    var hiveBeeQueenYear = hiveBeeQueen is not null ? hiveBeeQueen.Year : 0;
    var hiveBeeQueenColorMark = hiveBeeQueen is not null && hiveBeeQueen.ColorMark is not null ? hiveBeeQueen.ColorMark : "N/A";
}

<h1>@ViewBag.Title №@Model.Number</h1>
<h3 style="margin-top:20px;margin-bottom:25px">@Localizer["Apiary"] - <a asp-controller="Apiaries" asp-action="ApiaryHives" asp-route-apiaryId="@Model.ApiaryId">@Model.ApiaryName</a></h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="/images/hive.jpg" class="img-fluid" height="400" width="400" alt="hive">
        </div>
        <div class="col-md-6 mb-4">
            <p class="lead fw-bold">@Localizer["Details"]</p>
            <hr />

            <div class="mb-4">
                <span class="fw-bold">@Localizer["Type"]</span> - @Model.Type
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Status"]</span> - @Model.Status
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Color"]</span> - @hiveColor
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["BoughtDate"]</span> - @Model.DateBought
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["TimesUsed"]</span> - @Model.TimesUsedCount
            </div>
            <div class="mb-4">
                @if (hiveBeeQueen is not null)
                {
                    var beeQueenColorMark = hiveBeeQueen.ColorMark is not null ? hiveBeeQueen.ColorMark : "N/A";

                    <span class="fw-bold" style="color:forestgreen">Has alive bee queen from @hiveBeeQueen.Year year with mark: @beeQueenColorMark</span>
                }
                else
                {

                    <span class="fw-bold" style="color:red">Hive is queenless. There is no live bee queen for the hive.</span>
                    <a class="btn btn-outline-primary form-control text-start" asp-controller="BeeQueens" asp-action="CreateBeeQueen">Click to add new bee queen.</a>
                }
            </div>
            <div class="mb-4">
                <span class="fw-bold"><a asp-action="Inspections" asp-route-hiveId="@hiveId">@Localizer["Inspections"] - @Model.Inspections.Count</a></span>
            </div>
            <div class="mb-4">
                <span class="fw-bold"><a asp-action="Diseases" asp-route-hiveId="@hiveId">@Localizer["Diseases"] - @Model.Diseases.Count</a></span>
            </div>
            <div class="mb-4">
                <span class="fw-bold"><a asp-action="Harvests" asp-route-hiveId="@hiveId">@Localizer["Harvests"] - @Model.Harvests.Count</a></span>
            </div>
        </div>
    </div>
</div>