@model HiveDetailsServiceModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Hive"];

    var hiveColor = Model.Color is null ? "N/A" : Model.Color;
    var hiveId = Model.Id;
}

<h1 style="margin-top:20px;margin-bottom:50px">@ViewBag.Title №@Model.Number</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="/images/hive.jpg" class="img-fluid" height="400" width="400" alt="hive">
        </div>
        <div class="col-md-6 mb-4">
            <p class="lead fw-bold">@Localizer["Details"]</p>
            <hr />

            <div class="mb-4">
                <span class="fw-bold">@Localizer["Type"]</span> - @Model.Type
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Status"]</span> - @Model.Status
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Color"]</span> - @hiveColor
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["BoughtDate"]</span> - @Model.DateBought
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["TimesUsed"]</span> - @Model.TimesUsedCount
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Queens"] - <a asp-action="HiveBeeQueens" asp-route-hiveId="@hiveId">@Model.BeeQueens.Count</a></span>
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Inspections"] - <a asp-action="HiveInspections" asp-route-hiveId="@hiveId">@Model.Inspections.Count</a></span>
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Diseases"] - <a asp-action="HiveDiseases" asp-route-hiveId="@hiveId">@Model.Diseases.Count</a></span>
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Harvests"] - <a asp-action="HiveHarvests" asp-route-hiveId="@hiveId">@Model.Harvests.Count</a></span>
            </div>
            <div class="mb-4">
                <span class="fw-bold">@Localizer["Apiary"] - <a asp-controller="Apiaries" asp-action="ApiaryHives" asp-route-apiaryId="@Model.ApiaryId">@Model.ApiaryName</a></span>
            </div>
        </div>
    </div>
</div>

