@model HiveResourcesViewModel<DiseaseListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["DiseasesForHive"];
    var hiveId = this.Context.Request.Query.FirstOrDefault(x => x.Key == "hiveId").Value;
}

<br />
<br />
<div class="container p-3 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title: №@Model.HiveNumber</h1>
        </div>
        <div class="col text-end pt-1">
            <a class="btn btn-outline-primary" asp-controller="Diseases" asp-action="CreateDisease" asp-route-hiveId="@hiveId"><i class="bi bi-plus-lg"></i> @Localizer["CreateNewDisease"]</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["Description"]
                </th>
                <th>
                    @Localizer["Treatment"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disease in Model.Resources)
            {
                <tr style="text-align:center">
                    <td>
                        @disease.Name
                    </td>
                    <td>
                        @disease.Description
                    </td>
                    <td>
                        @disease.Treatment
                    </td>
                    <td style="text-align:right">
                        <a class="btn btn-success" asp-controller="Diseases" asp-action="UpdateDisease" asp-route-diseaseId="@disease.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger"  asp-controller="Diseases" asp-action="DeleteDisease" asp-route-diseaseId="@disease.Id"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn-primary btn form-control" asp-action="Details" asp-route-hiveId="@hiveId">@Localizer["Back"]</a>
    </div>
</div>