@model HiveResourcesViewModel<InspectionListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["InspectionsForHive"];
}

<br />
<br />
<div class="container p-3 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title: №@Model.HiveNumber</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Localizer["InspectionDate"]
                </th>
                <th>
                    @Localizer["WeatherConditions"]
                </th>
                <th>
                    @Localizer["Observations"]
                </th>
                <th>
                    @Localizer["ActionsTaken"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspection in Model.Resources)
            {
                <tr style="text-align:center">
                    <td>
                        @inspection.InspectionDate
                    </td>
                    <td>
                        @inspection.WeatherConditions
                    </td>
                    <td>
                        @inspection.Observations
                    </td>
                    <td>
                        @inspection.ActionsTaken
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
    </div>
</div>