@model ListAllViewModel<BeeQueenListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["BeeQueensList"];
}

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="CreateBeeQueen" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i> @Localizer["CreateNewBeeQueen"]</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Year"]
                </th>
                <th>
                    @Localizer["ColorMark"]
                </th>
                <th>
                    @Localizer["IsAlive"]
                </th>
                <th>
                    @Localizer["HiveNumber"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beeQueen in Model.Items)
            {
                <tr>
                    <td>
                        @beeQueen.Year
                    </td>
                    <td>
                        @beeQueen.ColorMark
                    </td>
                    <td>
                        @if (beeQueen.IsAlive)
                        {
                            @Localizer["Yes"]
                        }
                        else
                        {
                            @Localizer["No"]
                        }
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="BeeQueens" asp-route-hiveId="@beeQueen.HiveId">№@beeQueen.HiveNumber</a>
                    </td>
                    <td style="text-align:right">
                        <a asp-action="UpdateBeeQueen" class="btn btn-success" asp-route-beeQueenId="@beeQueen.Id"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="DeleteBeeQueen" class="btn btn-danger" asp-route-beeQueenId="@beeQueen.Id"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@this.Model" />