@model HiveResourcesViewModel<BeeQueenListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["BeeQueensInHive"];
}

<br />
<br />
<div class="container p-3 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title: №@Model.HiveNumber</h1>
        </div>
    </div>
    <table class="table border">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Localizer["Year"]
                </th>
                <th>
                    @Localizer["ColorMark"]
                </th>
                <th>
                    @Localizer["IsAlive"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beeQueen in Model.Resources)
            {
                <tr style="text-align:center">
                    <td>
                        @beeQueen.Year
                    </td>
                    <td>
                        @beeQueen.ColorMark
                    </td>
                    <td>
                        @if (beeQueen.IsAlive)
                        {
                            @Localizer["Yes"]
                        }
                        else
                        {
                            @Localizer["No"]
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
    </div>
</div>