@model HiveResourcesViewModel<HarvestListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["HarvestsForHive"];
    var hiveId = this.Context.Request.Query.FirstOrDefault(x => x.Key == "hiveId").Value;
}

<br />
<br />
<div class="container p-3 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title: №@Model.HiveNumber</h1>
        </div>
        <div class="col text-end pt-1">
            <a class="btn btn-outline-primary" asp-controller="Harvests" asp-action="Create" asp-route-hiveId="@hiveId"><i class="bi bi-plus-lg"></i> @Localizer["CreateNewHarvest"]</a>
        </div>
    </div>
    <table class="table border">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Localizer["HarvestDate"]
                </th>
                <th>
                    @Localizer["HarvestedAmount"]
                </th>
                <th>
                    @Localizer["HarvestedProduct"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var harvest in Model.Resources)
            {
                <tr style="text-align:center">
                    <td>
                        @harvest.HarvestDate
                    </td>
                    <td>
                        @harvest.HarvestedAmount
                    </td>
                    <td>
                        @harvest.HarvestedProduct
                    </td>
                    <td style="text-align:right">
                        <a class="btn btn-success" asp-controller="Harvests" asp-action="Update" asp-route-harvestId="@harvest.Id"><i class="bi bi-pencil-square"></i></a>
                        <button type="button" class="btn btn-danger" onclick="showDeleteModal(@harvest.Id)"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn-primary btn form-control" asp-action="Details" asp-route-hiveId="@hiveId">@Localizer["Back"]</a>
    </div>
</div>

<partial name="_DeleteModalPartial" />