@model HiveResourcesViewModel<InspectionListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["InspectionsForHive"];
    var hiveId = this.Context.Request.Query.FirstOrDefault(x => x.Key == "hiveId").Value;
}

<br />
<br />
<div class="container">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">
                @ViewBag.Title:<a class="link" asp-controller="Hives" asp-action="Details" asp-route-hiveId="@hiveId"> №@Model.HiveNumber</a>
            </h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Inspections" asp-action="Create" asp-route-hiveId="@hiveId" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i> @Localizer["CreateNewInspection"]</a>
        </div>
    </div>
    <table class="table border">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Localizer["InspectionDate"]
                </th>
                <th>
                    @Localizer["WeatherConditions"]
                </th>
                <th>
                    @Localizer["Observations"]
                </th>
                <th>
                    @Localizer["ActionsTaken"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspection in Model.Resources)
            {
                <tr style="text-align:center">
                    <td>
                        @inspection.InspectionDate
                    </td>
                    <td>
                        @inspection.WeatherConditions
                    </td>
                    <td>
                        <span style="white-space:pre-line">@inspection.Observations</span>
                    </td>
                    <td>
                        <span style="white-space:pre-line">@inspection.ActionsTaken</span>
                    </td>
                    <td style="text-align:right">
                        <a class="btn btn-success" asp-controller="Inspections" asp-action="Update" asp-route-inspectionId="@inspection.Id"><i class="bi bi-pencil-square"></i></a>
                        <button type="button" class="btn btn-danger" onclick="showDeleteModal(@inspection.Id)"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn-primary btn form-control" asp-action="Details" asp-route-hiveId="@hiveId">@Localizer["Back"]</a>
    </div>
</div>

<partial name="_DeleteModalPartial" />