@model UpdateHiveFormModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["UpdateHive"];
}

<form asp-action="Update">
    <input asp-for="Id" hidden />
    <div class="container">
        <fieldset>
            <legend class="text-primary">@ViewBag.Title</legend>
            <div asp-validation-summary="All" class="text-danger"></div>

            <p class="field">
                <input asp-for="Number" type="number" class="form-control" required />
                <label asp-for="Number"></label>
                <span asp-validation-for="Number" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="Type" class="form-control" required />
                <label asp-for="Type"></label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="Status" class="form-control" required />
                <label asp-for="Status"></label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="Color" class="form-control" />
                <label asp-for="Color"></label>
                <span asp-validation-for="Color" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="DateBought" type="date" class="form-control" required />
                <label asp-for="DateBought"></label>
                <span asp-validation-for="DateBought" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="TimesUsedCount" type="number" class="form-control" required />
                <label asp-for="TimesUsedCount"></label>
                <span asp-validation-for="TimesUsedCount" class="text-danger"></span>
            </p>

            <p class="field">
                <select asp-for="ApiaryId" class="form-control" required>
                    @foreach (var apiary in Model.Apiaries)
                    {
                        if (apiary.Id == Model.ApiaryId)
                        {
                            <option value="@apiary.Id" selected>@apiary.Name</option>
                        }
                        else
                        {
                            <option value="@apiary.Id">@apiary.Name</option>
                        }
                    }
                </select>
                <label asp-for="ApiaryId"></label>
            </p>

            <div class="row">
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
                </div>
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_UpdateButtonPartial.cshtml" />
                </div>
            </div>
        </fieldset>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/input-form-styles.css" />
}