@model ListAllViewModel<InspectionListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["InspectionsList"];
}

<br />
<br />
<div class="container">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title</h1>
        </div>
    </div>
    <table class="table border">
        <thead>
            <tr>
                <th>
                    @Localizer["InspectionDate"]
                </th>
                <th>
                    @Localizer["WeatherConditions"]
                </th>
                <th>
                    @Localizer["Observations"]
                </th>
                <th>
                    @Localizer["ActionsTaken"]
                </th>
                <th>
                    @Localizer["HiveNumber"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspection in Model.Items)
            {
                <tr>
                    <td>
                        @inspection.InspectionDate
                    </td>
                    <td>
                        @inspection.WeatherConditions
                    </td>
                    <td>
                        <span style="white-space:pre-line">@inspection.Observations</span>
                    </td>
                    <td>
                        @inspection.ActionsTaken
                    </td>
                    <td>
                        <a class="nav-link" asp-area="" asp-controller="Hives" asp-action="Inspections" asp-route-hiveId="@inspection.HiveId">№@inspection.HiveNumber</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@this.Model" />