@model ApiaryHivesViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["HivesInApiary"];
}

<br />
<br />
<div class="container">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title: @Model.ApiaryName</h1>
        </div>
    </div>
    <table class="table border">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Localizer["Number"]
                </th>
                <th>
                    @Localizer["Type"]
                </th>
                <th>
                    @Localizer["Status"]
                </th>
                <th>
                    @Localizer["Color"]
                </th>
                <th>
                    @Localizer["BoughtDate"]
                </th>
                <th>
                    @Localizer["TimesUsed"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hive in Model.Hives)
            {
                <tr style="text-align:center">
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="Details" asp-route-hiveId="@hive.Id">@hive.Number</a>
                    </td>
                    <td>
                        @hive.Type
                    </td>
                    <td>
                        @hive.Status
                    </td>
                    <td>
                        @hive.Color
                    </td>
                    <td>
                        @hive.DateBought
                    </td>
                    <td>
                        @hive.TimesUsedCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
    </div>
</div>