@model UpdateInspectionFormModel

<form asp-action="UpdateInspection">
    <input asp-for="Id" hidden />
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Inspection</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="InspectionDate" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="InspectionDate" type="datetime" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="WeatherConditions" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="WeatherConditions" class="form-control" />
                <span asp-validation-for="WeatherConditions" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Observations" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ActionsTaken" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ActionsTaken" class="form-control" />
                <span asp-validation-for="ActionsTaken" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="HiveId" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="HiveId" class="form-control">
                    @foreach (var hive in Model.Hives)
                    {
                        if (hive.Color is null)
                        {
                            <option value="@hive.Id">@hive.Number</option>
                        }
                        else
                        {
                            <option value="@hive.Id">@hive.Number - @hive.Color</option>
                        }
                    }
                </select>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}