@model ICollection<ApiaryServiceModel>

@{
    ViewBag.Title = "All Apiaries";
}

<h2 heading-tag>@ViewBag.Title</h2>

<div class="row" style="padding-bottom: 20px;">
    <a asp-controller="Apiaries" asp-action="Create" class="btn btn-success" style="width: 7rem;">Create</a>
</div>

<div class="row">
    @foreach (var apiary in Model)
    {
        <div class="card mb-3 ml-2" style="width: 17rem;">
            <div class="card-body">
                <br />
                <h4 class="card-title text-center mb-4">@apiary.Name</h4>
                <hr />
                <div class="text-left mb-4">Location - @apiary.Location</div>
                <div class="text-left mb-4">Size - @apiary.Hives.Count</div>
                <br />
                <a asp-controller="Apiaries" asp-action="Delete" asp-route-id="@apiary.Id" class="btn btn-danger" style="width: 7rem;">Delete</a>
            </div>
        </div>
    }
</div>