@model ApiaryHivesViewModel

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Hives in apiary: @Model.ApiaryName</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr style="text-align:center">
                <th>
                    Number
                </th>
                <th>
                    Type
                </th>
                <th>
                    Status
                </th>
                <th>
                    Color
                </th>
                <th>
                    Date Bought
                </th>
                <th>
                    Used Count
                </th>
                <th>
                    Queens
                </th>
                <th>
                    Inspections
                </th>
                <th>
                    Diseases
                </th>
                <th>
                    Harvests
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hive in Model.Hives)
            {
                <tr style="text-align:center">
                    <td>
                        @hive.Number
                    </td>
                    <td>
                        @hive.Type
                    </td>
                    <td>
                        @hive.Status
                    </td>
                    <td>
                        @hive.Color
                    </td>
                    <td>
                        @hive.DateBought
                    </td>
                    <td>
                        @hive.TimesUsedCount
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="HiveBeeQueens" asp-route-hiveId="@hive.Id">@hive.BeeQueens.Count</a>
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="HiveInspections" asp-route-hiveId="@hive.Id">@hive.Inspections.Count</a>
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="HiveDiseases" asp-route-hiveId="@hive.Id">@hive.Diseases.Count</a>
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="HiveHarvests" asp-route-hiveId="@hive.Id">@hive.Harvests.Count</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
    </div>
</div>