@model ListAllViewModel<DiseaseListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["DiseasesList"];
}

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="CreateDisease" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i> @Localizer["CreateNewDisease"]</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["Description"]
                </th>
                <th>
                    @Localizer["Treatment"]
                </th>
                <th>
                    @Localizer["HiveNumber"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disease in Model.Items)
            {
                <tr>
                    <td>
                        @disease.Name
                    </td>
                    <td>
                        @disease.Description
                    </td>
                    <td>
                        @disease.Treatment
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="HiveDiseases" asp-route-hiveId="@disease.HiveId">№@disease.HiveNumber</a>
                    </td>
                    <td style="text-align:right">
                        <a asp-action="UpdateDisease" class="btn btn-success" asp-route-diseaseId="@disease.Id"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="DeleteDisease" class="btn btn-danger" asp-route-diseaseId="@disease.Id"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@this.Model" />