@model ListAllViewModel<DiseaseListingServiceModel>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["DiseasesList"];
}

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewBag.Title</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["Description"]
                </th>
                <th>
                    @Localizer["Treatment"]
                </th>
                <th>
                    @Localizer["HiveNumber"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disease in Model.Items)
            {
                <tr>
                    <td>
                        @disease.Name
                    </td>
                    <td>
                        @disease.Description
                    </td>
                    <td>
                        @disease.Treatment
                    </td>
                    <td>
                        <a class="nav-link" asp-controller="Hives" asp-action="Diseases" asp-route-hiveId="@disease.HiveId">№@disease.HiveNumber</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@this.Model" />